.slideshow {
  position: relative;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  z-index: 3;
}

.prev {
  left: 10px;
  transform: translateY(-50%);
}

.next {
  right: 10px;
  transform: translateY(-50%);
}

.slideshow .slide {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.66, 0, 0.34, 1);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

/* If you want to center content inside slides
.slideshow .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
 */

.slideshow .slide.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}